@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><textarea id="profile" style="width:600px; height:500px" disabled></textarea></p>
</div>
